.App {
  text-align: center;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

.loadingBar {
  background-color: #f50057;
  min-height: 3px;
  position: "relative";
}

#loadingBar {
  min-height: 3px;
}
