table {
  border-collapse: collapse;
}
table td {
  border: 1px solid;
  padding: 5px 15px 5px 7px;
}
table td:first-child {
  font-weight: 700;
}
.section > img {
  float: left;
  padding-right: 15px;
}

.section {
  clear: both;
}

h1 {
  padding-top: 25px;
}

h2 {
  padding-top: 10px;
}
p {
  text-align: justify;
}
